body {
    margin: 0;
    padding: 0;
  }
  
  nav{
     display: flex;
     align-items: center;
     position: fixed;
     top: 0;
     background-color: #fff;
     width: 100%;
     height: 80px;
     font-family: sans-serif;
     
  }
  
  #navItems{
     display: flex;
     width: 100%;
     margin: 10px 30px;
     justify-content: space-between;
    
  }
  
  #navImg {
     height: 60px;
  }
  
  ul{
     display: flex;
     list-style: none;
     gap: 20px;
  }
  
  .largeImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    height: 800px;
    background-color: #0B0B0B;
    background-image: url("/images/landing.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }
 
 .largeImg h1, p {
    width: 500px;
    color: white;
    text-align: center;
 }

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.title{
    padding-bottom: 10px;
    border-bottom: 2px solid green;
  
}

.items{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
    
}

.song{
  
    height: 10px;
}